@import url('https://fonts.googleapis.com/css2?family=GFS+Didot&display=swap');

html{
    font-size: 16px;

}

body{
    font-family: 'GFS Didot', serif;
    max: width 87.5rem; 
    background: linear-gradient(180deg, #F7F8F8 0%, #41547A 50.52%, #000 100%);
    color: #F7F8F8;
    line-height:normal ;
    margin: 5rem auto;
    margin-left: 5rem;


}

header{
    dsiplay flex: ;
    align-items: center;
    justify-content: space-between;
}
    
h1{
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    color:black ;
 }

 a{
    text-decoration: none;
    color: black;
    margin: 0 0 0 2rem;
 }

 a h1:hover{
    color: azure;
 }

 a h1:visited{
    color: aquamarine;
 }





 nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
 }


main{

}

footer{
    width: 63.875rem;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: azure;

}

.selected{
    color: azure;
}